extends ./_item-layout.jade

block item-layout-content
  .list.card
    .item.item-icon-left
      i.icon.i.ion-model-s 
      | {{board.data.currentThread.formatted.transfer.title}}    
    .item.item-icon-left
      i.icon.ion-location 
      | {{board.data.currentThread.data.meta.from}}                                
    .item.item-icon-left.item-text-wrap(ng-if="board.data.currentThread.data.meta.date")
      i.icon.ion-calendar 
      | {{board.data.currentThread.data.meta.date | amDateFormat:'dddd, MMMM Do YYYY, HH:00'}}                                  
    .item.item-icon-left(ng-if="board.data.currentThread.data.meta.price")
      i.icon.i.ion-card 
      | {{board.data.currentThread.data.meta.price}}
    a.item.item-icon-left(ng-href="tel:{{currentThread.data.meta.phone}}" ng-if="board.data.currentThread.data.meta.phone")
      i.icon.i.ion-android-call.positive
      | {{board.data.currentThread.data.meta.phone}}
    .item.long-read.item-text-wrap(ng-if="board.data.currentThread.data.text")
      | {{board.data.currentThread.data.text}}                                        

block footer-bar-button
  span(ng-if="board.data.currentThread.data.meta.type != 'taxi'")
    span(ng-switch="board.userRequestStatus(board.data.currentThread)")
      a.subdued(ng-click='board.requestTransfer(board.data.currentThread)' ng-switch-when="none") 
        i.icon.ion-checkmark-round &nbsp; #{resources.str.request} &nbsp; 
      a.subdued.balanced(ng-click='board.unrequestTransfer(board.data.currentThread)' ng-switch-when="requested") 
        i.icon.ion-checkmark-circled &nbsp; #{resources.str.requested} &nbsp;   
      a.subdued.positive(ng-click='board.unrequestTransfer(board.data.currentThread)' ng-switch-when="accepted") 
        i.icon.ion-checkmark-circled.positive &nbsp; #{resources.str.accepted} &nbsp;
      a.assertive.subdued(ng-click='board.unrequestTransfer(board.data.currentThread)' ng-switch-when="rejected") 
        i.icon.ion-close-round &nbsp; #{resources.str.rejected} &nbsp;            
    i.icon.ion-person-stalker(ng-click='openTransferRequests(board.data.currentThread)') &nbsp; #{resources.str.already_go} {{board.data.currentThread.requests.length}} &nbsp;