extends ./_item-layout.jade

block item-layout-content
  .list.card
    .item.item-icon-left
      i.icon.i.ion-model-s 
      | {{board.data.currentThread.formatted.transfer.title}}    
    .item.item-icon-left
      i.icon.ion-location 
      | {{board.data.currentThread.data.meta.from}}                                
    .item.item-icon-left.item-text-wrap(ng-if="board.data.currentThread.data.meta.date")
      i.icon.ion-calendar 
      | {{board.data.currentThread.data.meta.date | amDateFormat:'dddd, MMMM Do YYYY, HH:00'}}                                  
    .item.item-icon-left(ng-if="board.data.currentThread.data.meta.price")
      i.icon.i.ion-card 
      | {{board.data.currentThread.data.meta.price}}
    a.item.item-icon-left(ng-href="tel:{{currentThread.data.meta.phone}}" ng-if="board.data.currentThread.data.meta.phone")
      i.icon.i.ion-android-call.positive
      | {{board.data.currentThread.data.meta.phone}}
  .long-read.item-text-wrap(ng-if="board.data.currentThread.data.text")
    | {{board.data.currentThread.data.text}}                                        

block footer-bar-button
  .padding-top(ng-if="board.data.currentThread.data.meta.type != 'taxi'")
    span(ng-switch="board.userRequestStatus(board.data.currentThread)")
      a.button.button-outline.button-calm.button-small(ng-click='board.requestTransfer(board.data.currentThread)' ng-switch-when="none") 
        i.icon.ion-checkmark-round &nbsp; #{resources.str.request} 
      a.button.button-outline.button-balanced.button-small(ng-click='board.unrequestTransfer(board.data.currentThread)' ng-switch-when="requested") 
        i.icon.ion-checkmark-circled &nbsp; #{resources.str.requested}    
      a.button.button-outline.button-positive.button-small(ng-click='board.unrequestTransfer(board.data.currentThread)' ng-switch-when="accepted") 
        i.icon.ion-checkmark-circled &nbsp; #{resources.str.accepted} 
      a.button.button-outline.button-asserive.button-small(ng-click='board.unrequestTransfer(board.data.currentThread)' ng-switch-when="rejected") 
        i.icon.ion-close-round &nbsp; #{resources.str.rejected} 
    &nbsp;
    a.button.button-outline.button-positive.button-small(ng-click='openTransferRequests(board.data.currentThread)')
      i.icon.ion-person-stalker &nbsp; #{resources.str.already_go}
        | {{board.data.currentThread.requests.length}} &nbsp; 

